
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Login</title>
    <!-- Bootstrap core CSS-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center"><strong>Login</strong></div>
            <div class="card-body">
                <form id="login-form">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" name="txt_username" class="form-control" placeholder="Username" required="required" autofocus="autofocus">
                            <label for="inputEmail">Username</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="txt_password" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>*@
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
                @*<div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#login-form').submit(function () {
            var data_post = $('#login-form').serialize(); //lấy tất cả input data của form
            $.post('@Url.Action("LoginAc","Home")', data_post, function (res) {
                if (res.status != undefined && res.status == "1") {
                    //dang nhap thanh cong, reload lai trang
                    //$(".msg-login").empty();
                    //$(".msg-login").addClass("alert-success");
                    //$(".msg-login").append(res.message);
                    //setTimeout(function () {

                    //    $(".msg-login").removeClass("alert-danger");
                    //    $(".msg-login").removeClass("alert-success");
                    //    $(".msg-login").empty();
                    //    location.reload();
                    //}, 100);
                    location.reload();
                } else {
                    //$(".msg-login").empty();
                    //$(".msg-login").addClass("alert-danger");
                    //$(".msg-login").append(res.message);
                    //setTimeout(function () {
                    //    $(".msg-login").removeClass("alert-danger");
                    //    $(".msg-login").removeClass("alert-success");
                    //    $(".msg-login").empty();
                    //}, 1000);
                    alert(res.message);
                }
            }, 'json');//kiểu dữ liệu trả về là json
            return false;
        });
    });
</script>
